.title{
  width: 600px;
}

.section {
  text-align:center;
  font-size: 3em;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

#fp-nav ul li a span {
  background: white;
}

.slogan {
  font-size: 300%;
}

.concept {
  font-size: 200%;
}

.text{
  font-size: 90%;
}