.section {
  text-align:center;
  /**font-size: 3em;*/
  font-size: 4vw;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

.row {
  margin-left: 5vw;
  margin-right: 5vw;
}

.row-left {
  text-align:left;
}

.row-right {
  text-align:right;
}

.col-relative {
  position: relative;
}

/* fullpage.jsのnavigationの丸*/
#fp-nav ul li a span , .fp-slidesNav ul li a span{
  background: white;
}

.slogan {
  font-size: 10vw;
}

.concept {
  font-size: 7vw;
}

.img-hiyori {
  height: 70vh;
}

.p-absolute {
  font-size: 18vw;
  position: absolute;
  line-height: 200px;
  margin-top: 7vh;
}

.div-hiyori {
  margin-top: 30vh;
  text-align:right;
}

.card-body {
  color:black
}

.card-text {
  text-align:left;
}

.copyright {
  font-size: 2vw;
  text-align: center;
}

/* 上手くいってない*/
.game-dl {
  width: 5vh;
}

@media (max-width:768px) { 

  p { color:red;}

}